<div class="row">
  <div class="col-md-4">
    <h3>Bash - March 6 2025 12:00 - 1:30 pm  - Richter Conference Room</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>12:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>12:45</td>  <td>break</td> </tr>
      <tr> <td>12:55</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>1:30</td>  <td>end</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Git - March 17 12:30 - 2 pm - Richter Conference Room</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>1:15</td>  <td>break</td> </tr>
      <tr> <td>1:25</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>2:00</td>  <td>end</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>AI - March 27 12:00 - 1:30 pm - Richter Conference Room</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td>Introduction to AI</td> </tr>
      <tr> <td>1:15</td>  <td>break</td> </tr>
      <tr> <td>1:25</td>  <td>AI (Continued)</td> </tr>
      <tr> <td>2:00</td>  <td>end</td> </tr>
    </table>
  </div>
</div>
